.footerPai {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-color: rgba(11, 240, 240, 0.2);
}
.footerPai .row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
}
.footerPai .row .img1 {
  align-items: center;
  background-image: url("../negocio.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
}
.footerPai .row .img2 {
  align-items: center;
  background-image: url("../clinica.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  margin-top: 20px;
}
.footerPai .row div {
  width: 33%;
  height: 150px;
  padding: 10px;
}
.footerPai .row div a {
  text-decoration: none;
  color: black;
}

.first-section {
  flex-grow: 1;
  background-color: #edf6f9;
  height: 700px;
}
.first-section h4 {
  font-size: 18px;
  line-height: 10px;
  font-weight: 300;
  color: #8d8d8d;
  letter-spacing: 0px;
  font-family: "Roboto";
  visibility: inherit;
  margin: 0px;
  padding: 0px;
  opacity: 1;
}
.first-section h2 {
  min-width: 456px;
  max-width: 456px;
  white-space: normal;
  font-size: 35px;
  line-height: 25px;
  font-weight: 300;
  color: #386fa4;
  letter-spacing: 0px;
  font-family: "Roboto";
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: inherit;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  opacity: 1;
}
.first-section h3 {
  padding: 5px 0 10px 0;
  white-space: normal;
  line-height: 25px;
  font-weight: 400;
  color: #386fa4;
}
.first-section .input {
  width: 350px;
  padding: 10px 0;
}
.first-section .button {
  background-color: #1db954;
  color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 7px 14px;
}
.first-section .button:hover {
  background-color: #18a84a;
}

.second-section {
  height: 800px;
  background-color: #386fa4;
}

.img-center {
  display: block;
  margin: auto;
  margin-top: 60px;
}

.form-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.makeStyles-root-1 .makeStyles-navbarcolor-4 {
  position: fixed;
}

.login {
  background-image: url("../background.jpg");
  background-position: 0 0;
  background-repeat: repeat-y;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.login .login-fields {
  width: 300px;
  margin: auto;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login .login-fields .MuiInputBase-root {
  margin-bottom: 25px;
}
.login .login-fields .recover-password {
  padding-left: 49%;
  font-size: small;
}
.login .login-fields .btn-login {
  width: 50%;
  margin: 25px auto;
}

.scheduler {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 10% auto;
}
.scheduler .scheduler-header {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.scheduler .scheduler-header .scheduler-header-fild-1 {
  grid-column-start: 1;
  grid-column-end: 1;
}
.scheduler .scheduler-header .scheduler-header-fild-1 .btn-new-register {
  margin-left: 90px;
}
.scheduler .scheduler-header .scheduler-header-fild-2 {
  grid-column-start: 4;
  grid-column-end: 4;
}
.scheduler .scheduler-body {
  grid-row-start: 3;
  grid-row-end: 3;
  margin: 50px;
}

.ml-200 {
  margin-left: 200px;
}

.mr-200 {
  margin-right: 200px;
}

/*# sourceMappingURL=index.css.map */
